<strong>Olá, {{ nameReceiver }}</strong>
<p>Parabéns você recebeu um elogio!</p>
<br />
<strong>Enviado por: </strong> <span>{{nameSender}}</span>
<br />
<strong>Elogio: </strong> <span>{{tagName}}</span>
<br>
<a href="http://localhost:3000/compliments/{{complimentId}}">Clique aqui para visualizar</a>
<br />
<small>
  “Descobri que quanto mais eu trabalho, mais sorte eu pareço ter”
</small>
</p>