<strong>Olá, {{ name }}</strong>
<p>Seja bem vindo ao valoriza, sinta-se a vontade para elogiar o
  trabalho de outras pessoas</p>
<br />

<small>
  “Descobri que quanto mais eu trabalho, mais sorte eu pareço ter”
</small>
</p>